.crop {
  height: 100px;
  width: auto;
  overflow: hidden;
}

.crop img {
  width: auto;
  height: 50%;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: translateY(-50%);
  /* IE 9 */
  transform: translateY(-50%);
  /* IE 10, Fx 16+, Op 12.1+ */
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.fixed-div {
  position: absolute;
  right: 10px;
}

.form-group {
  line-height: 2.5;
}

.caRD {
  line-height: 1.5;
}
